.header {
    width: 100%;
    background-color: black;
    color: white;
    height: 7rem;
    margin-top: -1rem;
}

.header a {
    font-size: 5.5rem;
    text-decoration: none;
    color: white;
    margin-left: 2rem;
}

.section {
    margin-left: 2rem;
}

.form-control {
    width: 40rem;
}