<#macro page>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SoftSweater</title>
    <link rel="stylesheet" href="/public/bootstrap.css">
    <link rel="stylesheet" href="/public/main.css">
</head>
<body>
<body>
<div class="header">
    <h4><a href="/">TestProject</a></h4>
</div>
</body>

    <#nested>


</body>
</html>
</#macro>